<!-- Wappler include head-page="layouts/backoffice" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="produtos" appConnect="local" components="{dmxBootstrap5Modal:{},dmxBootstrap5TableGenerator:{},dmxFormatter:{}}" -->
<dmx-serverconnect id="listar_produtos" url="/api/marketing/Produtos/listar-produtos"></dmx-serverconnect>
<div class="modal" id="modal_criar" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar produtos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form_criar_produto" is="dmx-serverconnect-form" method="post" action="/api/marketing/Produtos/criar-produto" dmx-on:error="notificacoes.danger('Ocorreu um erro: '+lastError.status+lastError.message+lastError.response+'. Entre em contato com o suporte.')" dmx-on:success="form_criar_produto.reset();modal_criar.hide();notificacoes.success('Produto cadastrado com sucesso!')">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group mb-3"> <label for="cod_produto" class="form-label">Codigo</label>
                                <input type="text" class="form-control" id="cod_produto" name="cod_produto" aria-describedby="input1_help">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3"> <label for="nome_produto" class="form-label">Nome do produtos</label>
                                <input type="text" class="form-control" id="nome_produto" name="nome_produto" aria-describedby="input1_help1">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3"> <label for="input3" class="form-label">Descrição</label>
                        <textarea id="descricao" class="form-control" name="descricao"></textarea>
                    </div>
                    <div class="form-group mb-3"> <label for="input3" class="form-label">Imagem do produto</label>
                        <input id="file1" name="file1" type="file" class="form-control">
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" dmx-on:click="form_criar_produto.submit()">Cadastrar produto</button>
            </div>
        </div>
    </div>
</div>
<div class="container-lg my-4 px-2 px-md-0">
    <div class="row align-items-center justify-content-between mb-4 px-0">
        <div class="col align-self-center">
            <h4 class="m-0">Gestão de Produtos Cadastrados</h4>
        </div>
        <div class="col text-end align-self-center">
            <button id="btn1" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_criar"><i class="fas fa-plus me-2"></i>Adicionar</button>
        </div>
    </div>
    <div class="row p-3 rounded-3 border border-light-subtle">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id produtos</th>
                        <th>Cod produto</th>
                        <th>Nome produto</th>
                        <th>Descricao produtos</th>
                    </tr>
                </thead>
                <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="listar_produtos.data.query_produtos.data" id="tableRepeat1">
                    <tr>
                        <td dmx-text="id_produtos"></td>
                        <td dmx-text="cod_produto"></td>
                        <td dmx-text="nome_produto"></td>
                        <td dmx-text="descricao_produtos.trunc(128, true, '...')"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<meta name="ac:route" content="/backoffice/f/produtos">