<!-- Wappler include head-page="layouts/backoffice" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="produtos" appConnect="local" -->
<div class="container-lg my-4 px-2 px-md-0">
    <div class="row align-items-center justify-content-between mb-4 px-0">
        <div class="col align-self-center">
            <h4 class="m-0">Gestão de Filas de Inagurações</h4>
        </div>
        <div class="col text-end align-self-center">
            <button id="btn1" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_criar_fila"><i class="fas fa-plus me-2"></i>Adicionar</button>
        </div>
    </div>
</div>
<meta name="ac:route" content="/dashboard/produtos">