<!-- Wappler include head-page="layouts/backoffice" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="registrosportaria" appConnect="local" -->
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<meta name="ac:route" content="/backoffice/f/registros-portaria">