<!doctype html>
<html>

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>Backoffice Rodrigues Colchões</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5PagingGenerator/dmxBootstrap5PagingGenerator.js" defer></script>
  <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer></script>
</head>

<body is="dmx-app" id="backoffice">
  <header class="bg-white py-3 border-bottom border-light-subtle px-0">
    <div class="container-lg p-0">
      <div class="row align-items-center">
        <div class="col d-flex align-items-center">
          <a href="/backoffice/f/" internal="true"><img src="/assets/images/LOGO COLORIDO.png" width="112" class="img-fluid"></a>
        </div>
        <div class="col-auto d-flex justify-content-end align-items-center">
          <div class="dropdown me-2">
            <button id="dropdown1" class="btn dropdown-toggle btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars me-2"></i>Menu</button>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <a class="dropdown-item" href="/backoffice/f/registros-portaria" internal="true">Registros portaria</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </main>
  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>