<!doctype html>
<html lang="pt-br">

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>SGI - Rodrigues Colch천es</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
  <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Alert/dmxBootstrap5Alert.js" defer></script>
<link rel="stylesheet" href="/dmxAppConnect/dmxPreloader/dmxPreloader.css" />
<script src="/dmxAppConnect/dmxPreloader/dmxPreloader.js" defer></script>
</head>

<body is="dmx-app" id="main">
  <dmx-notifications id="notificacoes"></dmx-notifications>
  <div is="dmx-browser" id="navegacao"></div>
  <header class="bg-nav">
    <!-- Barra superior azul -->
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <small class="text-white">Sistema de Gest찾o Integrada - Rodrigues Colch천es</small>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar principal -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <!-- Logo/Brand -->
        <a class="navbar-brand" href="/" internal="true">
          <img src="/assets/images/LOGO COLORIDO.png" alt="Rodrigues Colch천es" class="navbar-logo">
        </a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Content -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- Action Buttons -->
          <div class="navbar-nav ms-auto">
            <div class="nav-item me-2">
              <a href="/f/criar-conta" class="btn btn-outline-primary" internal="true">Cadastrar</a>
            </div>
            <div class="nav-item">
              <a href="/f/login" class="btn btn-primary" internal="true">Entrar</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </main>
  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>