<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<div class="container-fluid h-50 pt-3 ps-4 pe-4">
    <div class="row h-100 justify-content-center align-items-center bg-light rounded-4 py-5">
        <div class="col-md-9 text-center">
            <h1 class="mb-3">Bem-vindo ao Futuro da Gestão na Rodrigues Colchões</h1>
            <p class="fs-4">Um novo sistema que reflete nosso compromisso com a inovação, a eficiência e o crescimento sustentável. Porque evoluir faz parte da nossa essência.</p>
            <button id="btn1" class="btn btn-primary">Crie sua conta</button>
        </div>
    </div>
</div>
<meta name="ac:route" content="/">