<!-- Wappler include head-page="layouts/backoffice" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="adicionarmotoristaautorizado" appConnect="local" -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Motoristas autorizados</h3>
        </div>
    </div>
</div>
<meta name="ac:route" content="/colaborador/adicionar-motorista-autorizado">