<!-- Wappler include head-page="layouts/mobile-portaria" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="inicialcolaborador" appConnect="local" -->
<div class="container-fluid px-4">
    <div class="row align-items-center gy-3">
        <div class="col-12 bg-light p-3 rounded-3 text-center">
            <i class="fas fa-qrcode text-dark fa-2x mb-3"></i>
            <h1>Meu QR Code</h1>
            <button id="btn1" class="btn w-100 btn-primary btn-sm">Button</button>

        </div>
        <div class="col-12 bg-light p-3 rounded-3 text-center">
            <i class="fas fa-car fa-2x mb-3"></i>
            <h1>Meus veículos</h1>
            <p>A nice paragraph</p>

        </div>
    </div>
</div>
<meta name="ac:route" content="/colaborador/f/">