<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="login" appConnect="local" -->
<meta name="ac:route" content="/f/login">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form id="form1">
                        <div class="form-group mb-3"> <label for="input1" class="form-label">Some text</label>
                            <input type="text" class="form-control" id="input1" name="input1" aria-describedby="input1_help" placeholder="Enter some text">
                            <small id="input1_help" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>