<!-- Wappler include head-page="layouts/mobile-portaria" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="esolharegistroportaria" appConnect="local" -->
<div class="container-fluid px-4">
    <div class="row">
        <div class="col-12 p-3 rounded-3 text-center border">
            <i class="fas fa-qrcode text-dark fa-2x mb-3"></i>
            <h4 class="mb-3">Ler QR Code</h4>
            <button id="btn1" class="btn w-100 btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_qrcode" dmx-on:click="navegacao.goto('/d/portaria',true)">Acessar</button>
        </div>
        <div class="col-12 p-3 rounded-3 text-center border">
            <i class="fas fa-car text-dark fa-2x mb-3"></i>
            <h4 class="mb-3">Registrar pela Placa</h4>
            <button id="btn2" class="btn w-100 btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_qrcode">Acessar</button>
        </div>
        <div class="col-12 p-3 rounded-3 text-center border">
            <i class="fas fa-user-friends text-dark fa-2x mb-3"></i>
            <h4 class="mb-3">Visitante (em breve)</h4>
            <button id="btn3" class="btn w-100 btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_qrcode">Acessar</button>
        </div>
    </div>

</div>
<meta name="ac:route" content="/portaria/esolha-registro-portaria">
<meta name="ac:route" content="/portaria/esolha-registro-portaria">